
<div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Faire une annonce</h1></div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <form>
                <div class="form-group">
                    <label class="control-label">Lien de l'image du produit</label>
                    <input class="form-control" type="text">
                    <a style="color:red;" target="_blank" href="/gallerie/1"> ! selectionner un lien image</a>
                </div>
                <div class="form-group">
                    <label class="control-label">Description </label>
                    <textarea class="form-control"></textarea>
                </div>
                <button class="btn btn-default pull-right" type="button">Publier </button>
            </form>
        </div>
    </div>


