
<div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
           
                <h2>Ajouter une Categorie</h2>
                <br>
                <form method="POST" action="/add/categorie" class="form-inline">
                <div class="form-group">
                    <input type="text" name="categorie" class="form-control" id="rubrique" >
                </div>
                
                <button type="submit" class="btn btn-primary"> Ajouter</button>
                </form>

                <br>
                <br>
                <hr>
        </div>
</div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td><h3>Categories</h3></td>
                        <td><h3>Option</h3></td>
                    </tr>
                </thead>
                <tbody>

                    {{#each categories}}
                        <tr><td>{{this.titre}}</td> <td><a class="btn-sm btn-danger" href="/delete/categorie/{{this._id}}">Supprimer</a></td> </tr>
                    {{/each}}

               
            
                </tbody>
            </table>
        </div>
    </div>

    




