
<div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Donasyon </h1></div>
            <br><br><br>
            {{#if message}}
           <h1 class="text-center">{{message}} </h1></div>
           {{/if}}
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <form method="POST" action="/donnation">
            <div class="form-group">
                    <label class="control-label">Non </label>
                    <input name="nom" class="form-control"  type="text">
            </div>
            <div class="form-group">
                    <label class="control-label">Prenon </label>
                    <input name="prenom" class="form-control"  type="text">
            </div>
                <div class="form-group">
                    <label class="control-label">Telefòn </label>
                    <input name="phone" class="form-control" placeholder="+509xxxxxxxx" type="tel">
                </div>
                <div class="form-group">
                    <label class="control-label">Ki don ou anvi fè</label>
                    <textarea name="description" class="form-control input-lg" wrap="hard"></textarea>
                </div>
                <button class="btn btn-default pull-right" type="submit">voye li </button>
            </form>
        </div>
    </div>


