<div class="row">
        <div style="margin-bottom: 100px;" class="col-md-12">
            <h1 class="text-center">{{video.titre}} </h1>
        </div>

        
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <p class="text-center">
                {{{video.lien}}}

                
         </p>
</div>
</div>


<script id="dsq-count-scr" src="//ayitimavew.disqus.com/count.js" async></script>
<div class="container">
    <div id="disqus_thread"></div>
</div>
<script>
</div>