<div class="row" style="margin-top:100px;">
    <div class="col-md-8 col-md-offset-2">
        <p class="text-center">
        <iframe src="https://mixlr.com/users/6661419/embed" width="100%" height="180px" scrolling="no" frameborder="no" marginheight="0" marginwidth="0"></iframe><small><a href="http://mixlr.com/ayiti-mavew" style="color:#1a1a1a;text-align:left; font-family:Helvetica, sans-serif; font-size:11px;">Ayiti m'avèw is on Mixlr</a></small>
    </p>
    </div>
</div>