<h1>Super Admin</h1> <br> <br>

<p>1 <a href="/make-user-admin">Ajouter Administrateur</a></p> <br>
<p>2 <a href="/show-admin">Afficher Administrateurs</a></p> <br>
<p>2 <a href="/add/emission/1">Ajouter emmission</a></p> <br>
<p>4 <a href="/add-cours/1">Ajouter cours</a></p> <br>
